@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk';
  font-size: 18px;
}


@media (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .boxes {
    width: 50%;
    height: 100vh;
  }

  .cardFront {
    position: absolute;
    background-image: url('./images/bg-card-front.png');
    background-repeat: round;
    width: 400px;
    aspect-ratio: auto 2 / 1;
    border-radius: 10px;
    left: 25%;
    margin-top: 20vh;
    z-index: 4;
  }
  .cardBack {
    position: absolute;
    background-image: url('./images/bg-card-back.png');
    background-repeat: round;
    width: 400px;
    aspect-ratio: auto 2 / 1;
    border-radius: 10px;
    left: 35%;
    margin-top: 50vh;
    z-index: 3;
  }

  .cardBack .cvc {
    position: absolute;
    color: white;
    top: 85px;
    right: 55px;
  }
  
  .cardFront .number {
    font-size: 24px;
    position: absolute;
    color: white;
    top: 110px;
    left: 25px;
  }
  .cardFront .name {
    font-size: 16px;
    position: absolute;
    color: white;
    top: 160px;
    left: 25px;
  }
  
  .cardFront .expDate {
    font-size: 16px;
    position: absolute;
    color: white;
    top: 160px;
    right: 25px;
  }

  .formContainer {
    margin: 30vh auto 5% auto;
    max-width: 50%;
  }

}

/* Mobile */
@media (max-width: 639px) { 
  .container {
    display: flex;
    flex-direction: column;
  }

  .boxes {
    width: 100%;
    height: 35vh;
  }

  .cardFront {
    position: absolute;
    background-image: url('./images/bg-card-front.png');
    background-repeat: round;
    width: 80%;
    aspect-ratio: auto 2 / 1;
    border-radius: 10px;
    left: 5%;
    margin-top: 20vh;
    z-index: 4;
  }
  .cardBack {
    position: absolute;
    background-image: url('./images/bg-card-back.png');
    background-repeat: round;
    width: 80%;
    aspect-ratio: auto 2 / 1;
    border-radius: 10px;
    right: 5%;
    margin-top: 5vh;
    z-index: 3;
  }

  .cardBack .cvc {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 65px;
    right: 45px;
  }
  
  .cardFront .number {
    font-size: 22px;
    position: absolute;
    color: white;
    top: 80px;
    left: 25px;
  }
  .cardFront .name {
    font-size: 14px;
    position: absolute;
    color: white;
    top: 120px;
    left: 25px;
  }
  
  .cardFront .expDate {
    font-size: 14px;
    position: absolute;
    color: white;
    top: 120px;
    right: 25px;
  }

  .formContainer {
    margin: 15vh 5% 5% 5%;
  }
}


.left {
  position: relative;
  background-image: url('./images/bg-main-desktop.png');
  background-repeat: round;
}

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 15px 0 5px 0;
}
input {
  font-size: 18px;
  padding: 0.7em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

button {
  font-family: 'Space Grotesk';
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 18px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  border: 0px solid grey;
}

.bottomRowForm {
  display: flex;
}
.bottomRowFormLeft {
  width: 50%;
}

.bottomRowFormLeft input {
  margin-right: 10px;
}

.bottomRowFormRight {
  width: 50%;
}
.formMMYY {
  display: flex;
}



