@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1C232B;
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
}

p {
  letter-spacing: 0.04 em;
  line-height: 1.5em;
}

body {
  background-color: hsl(30, 38%, 92%);
  height:100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #6C7289;
}

.container {
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 50% 50%;
}

.card-left {
  height: 100%;
  background-image: url(./image-product-desktop.jpg);
  background-size: cover;
}

.card-right {
  display: grid;
  margin: 2em;
}

.product-category {
  letter-spacing: 0.4em;
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  color: #3D8168;
}

.original-price {
  text-decoration: line-through;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

.add-cart-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: #3D8168;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4em 1em;
  cursor: pointer;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  align-content: center;
  gap: 1em;
}

.add-cart-btn:hover {
  background-color: #1A4032;
}