@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D5E1EF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 320px;
  height: 497px;
  display: grid;
  background-color: #FFF;
  justify-items: center;
  padding: 20px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
}

.card p {
  color: #7D889E;
}