@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', sans-serif;
  
  color: hsl(236, 13%, 42%);
  background-color: hsl(36, 100%, 99%);
}

p {
  line-height: 1.5rem;
  font-size: 15px;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.navigation {
  display: none;
  justify-content: space-between;
  width: 431px;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: hsl(236, 13%, 42%)
}

.banner-grid {
  display: grid;
  gap: 2em;
  margin-top: 50px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }

  .banner-grid {
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .featured {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px auto;
  }

  .featured img {
    grid-column: 1 / span 2;
  }

  .article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
}

.featured {
  display: grid;
  row-gap: 1em;
}

.featured h1 {
  font-size: 3em;
  font-weight: 800;
  color:hsl(240, 100%, 5%);
}

.featured img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.featured .featured-content {
  position: relative;
  min-height: 150px;
}

.featured button {
  width: 185px;
  height: 48px;
  text-transform: uppercase;
  color: white;
  background-color: hsl(5, 85%, 63%);
  border: 0px;
  bottom: 0px;
  position: absolute;
}

.new {
  height: 511px;
  background-color: hsl(240, 100%, 5%);
  color:hsl(233, 8%, 79%);
  padding: 30px 20px 5px 20px;
  display: grid;
  grid-template-rows: min-content auto auto auto;
  gap: 2em;
}

.new h2 {
  font-size: 2em;
  color: hsl(35, 77%, 62%);
}

.new h4 {
  margin-bottom: 1rem;
  color:hsl(36, 100%, 99%);
}

.new div:nth-child(2) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
}

.new div:nth-child(3) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
}

.article-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 2em;
}

.article {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto auto auto;
  column-gap: 1em
}

.article > img {
  grid-row: 1 / span 3;
  width: 100%;
}

.article h3 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%)
}

.article h4 {
  font-size: 1rem;
  color:hsl(240, 100%, 5%)
}